In [1]:
%config IPCompleter.greedy=True
%matplotlib inline

In [3]:
import pandas as pd

pd.read_json("../resources/data/432909.json.gz", orient = "values", compression = "gzip")

,id,resource_state,external_id,upload_id,athlete,name,distance,moving_time,elapsed_time,total_elevation_gain,...,start_date_local,average_speed,max_speed,average_cadence,average_temp,average_watts,max_watts,gear_id,average_heartrate,max_heartrate
0,2888389244,2,garmin_push_4281086985,3.068389e+09,"{'id': 432909, 'resource_state': 1, 'type': 'A...",Afternoon Ride,40469.800781,8108,8249,630.000000,...,2019-11-24T14:09:45Z,4.991,14.900000,79.199997,7.0,129.399994,720.0,b5036751,NaN,NaN
1,2881403465,2,garmin_push_4272533889,3.059467e+09,"{'id': 432909, 'resource_state': 1, 'type': 'A...",Evening Ride,7213.299805,1307,1341,105.000000,...,2019-11-21T18:29:47Z,5.519,8.800000,79.500000,8.0,174.600006,421.0,b5036751,NaN,NaN
2,2880416494,2,garmin_push_4271265083,3.058162e+09,"{'id': 432909, 'resource_state': 1, 'type': 'A...",Morning Ride,25827.500000,5114,5348,602.000000,...,2019-11-21T08:06:02Z,5.050,14.600000,74.599998,1.0,145.199997,866.0,b5036751,NaN,NaN
3,2886007699,2,garmin_push_4278257253,3.065440e+09,"{'id': 432909, 'resource_state': 1, 'type': 'A...",Lunch Run,5575.399902,1933,1967,27.000000,...,2019-11-20T11:48:22Z,2.884,4.500000,83.599998,NaN,NaN,NaN,g204290,157.5,186.0
4,2876581000,2,garmin_push_4266548930,3.053561e+09,"{'id': 432909, 'resource_state': 1, 'type': 'A...",Evening Ride,7356.399902,1271,1354,117.000000,...,2019-11-19T18:07:09Z,5.788,10.200000,82.300003,8.0,175.699997,582.0,b5036751,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2332,8860606,2,d127bc9bfa556318aeb9ba559f286bd7,1.032463e+07,"{'id': 432909, 'resource_state': 1, 'type': 'A...",05/19/2012 Ibergeregg,114563.000000,17462,21822,2240.000000,...,2012-05-19T10:48:19Z,6.561,17.934999,NaN,NaN,203.000000,NaN,b156841,NaN,NaN
2333,8427655,2,499b3c23dd096ff0a638a07eaa23461c,9.839214e+06,"{'id': 432909, 'resource_state': 1, 'type': 'A...",05/13/2012 windy sunday ride,30171.300781,4635,4664,645.700012,...,2012-05-13T10:34:21Z,6.509,21.867001,NaN,NaN,213.699997,NaN,b156841,NaN,NaN
2334,8250981,2,a1c7e694286d47c4809f47abf7c461da,9.642359e+06,"{'id': 432909, 'resource_state': 1, 'type': 'A...",05/10/2012,6157.399902,1053,1095,93.400002,...,2012-05-10T19:05:12Z,5.848,10.795000,NaN,NaN,NaN,NaN,b156749,NaN,NaN
2335,7692273,2,8edce49d53b5aa984a5ff4131400ecf9,9.001092e+06,"{'id': 432909, 'resource_state': 1, 'type': 'A...",05/01/2012 small round,29515.400391,4563,4582,546.200012,...,2012-05-01T18:25:58Z,6.468,18.412001,NaN,NaN,190.399994,NaN,b156841,NaN,NaN
2336,7635160,2,38d48c56274163c213e58e6ddba836d2,8.936583e+06,"{'id': 432909, 'resource_state': 1, 'type': 'A...",04/30/2012,6741.799805,1144,1144,93.099998,...,2012-04-30T19:03:07Z,5.893,10.962000,NaN,NaN,161.500000,NaN,b156749,NaN,NaN